/* === Light- and Dark-Mode === */

/* TODO link + environment colors */

/* default colors */
body{
	color: #222;
	background-color: #ddd;
}
.post{
	background-color: #fff;
	box-shadow: 2px 2px 3px #888;
}

/* dark-mode colors */
body.dark-theme{
	color: #ddd;
	background-color: #111;
}
.post.dark-theme{
	background-color: #262626;
	box-shadow: 2px 2px 3px #000;
}

/* in case user has dark-mode at OS-level */
@media(prefers-color-scheme: dark){
	/* default colors */
	body{
		color: #ddd;
		background-color: #111;
	}
	.post{
		background-color: #262626;
		box-shadow: 2px 2px 3px #000;
	}

	/* light-mode colors */
	body.light-theme{
		color: #222;
		background-color: #ddd;
	}
	.post.light-theme{
		background-color: #fff;
		box-shadow: 2px 2px 3px #888;
	}
}



/* === spacing stuff === */

#navigation{
	background-color: black;
	box-shadow: 2px 2px 3px #888;

	margin-bottom: 1em;

	padding: 1em;

	text-align: center;
}

#wrapper{
	max-width: 1024px;
	margin: auto;
}

#impressum{
	margin-top: 1em;

	text-align: right;
}

.post{
	margin-bottom: 1em;

	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 5em;

	text-align: justify;
	text-align-last: none;
}

p{
	margin-top: .5em;
	margin-bottom: .75em;
}


/* === font stuff === */

body{
	font-family: "Computer Modern";
}