/* === Color stuff === */

:root{
	--background: #ddd;
	--post-background: #fff;
	--post-shadow: #888;

	--text: #222;
	--section: #992600;
}

.darkmode{
	--background: #111;
	--post-background: #262626;
	--post-shadow: #000;

	--text: #ccc;
	--section: #992600;
}

body{
	background-color: var(--background);
	color: var(--text);
}
#navigation{
	box-shadow: 2px 2px 3px var(--post-shadow);
}
.post{
	background-color: var(--post-background);
	box-shadow: 2px 2px 3px var(--post-shadow);
}
h2,h3,h4{
	color: var(--section);
}
mjx-xypic-object{
	color: var(--text) !important;
}
g{
	stroke: var(--text) !important;
}


/* === spacing stuff === */

#navigation{
	background-color: #333;

	margin-bottom: 1em;

	text-align: center;

	display: flex;
	justify-content: space-between;
}

.nav-link{
	color: #ccc;

	padding-left: .25em;
	padding-right: .25em;

	text-decoration: none;

	font-size: 1.5em;
}
.nav-link:hover{
	/*background-color: black;*/
	color: white;
}

.nav-left{
	height: 80px;
	width: 150px;
	min-width: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-center{
	/*width: 824px;*/

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.nav-right{
	width: 150px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper{
	max-width: 1024px;
	margin: auto;
}

#impressum{
	margin-top: 1em;

	text-align: right;
}

.post{
	margin-bottom: 1em;

	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2em;
	padding-bottom: 5em;

	text-align: justify;
	text-align-last: none;
}

p{
	margin-top: .5em;
	margin-bottom: .75em;
}


/* === font stuff === */

body{
	font-family: "Computer Modern";
}