/* === Color stuff === */

/* TODO link + environment colors */

:root{
	--dark-background: #111;
	--dark-post-background: #262626;
	--dark-post-shadow: #000;
	--dark-text: #ccc;
	--dark-section: #992600;

	--light-background: #ddd;
	--light-post-background: #fff;
	--light-post-shadow: #888;
	--light-text: #222;
	--light-section: #992600;

	--background: #ddd;
	--post-background: #fff;
	--post-shadow: #888;

	--text: #222;
	--section: #992600;
}

.darkmode{
	--background: #111;
	--post-background: #262626;
	--post-shadow: #000;

	--text: #ccc;
	--section: #992600;
}

body{
	background-color: var(--background);
	color: var(--text);
}
#navigation{
	box-shadow: 2px 2px 3px var(--post-shadow);
}
.post{
	background-color: var(--post-background);
	box-shadow: 2px 2px 3px var(--post-shadow);
}
h2,h3,h4{
	color: var(--section);
}
mjx-xypic-object{
	color: var(--text) !important;
}
g{
	stroke: var(--text) !important;
}

/* default colors
body{
	background-color: var(--light-background);
	color: var(--light-text);
}
#navigation{
	box-shadow: 2px 2px 3px var(--light-post-shadow);
}
.post{
	background-color: var(--light-post-background);
	box-shadow: 2px 2px 3px var(--light-post-shadow);
}
h2{
	color: var(--light-section);
}
mjx-xypic-object{
	color: var(--light-text) !important;
}
g{
	stroke: var(--light-text) !important;
}

/* dark-mode colors
body.dark-theme{
	background-color: var(--dark-background);
	color: var(--dark-text);
}
#navigation.dark-theme{
	box-shadow: 2px 2px 3px var(--dark-post-shadow);
}
.post.dark-theme{
	background-color: var(--dark-post-background);
	box-shadow: 2px 2px 3px var(--dark-post-shadow);
}
h2.dark-theme{
	color: var(--dark-section);
}
svg.dark-theme{
	filter: invert(100%);
}

/* in case user has dark-mode at OS-level
@media(prefers-color-scheme: dark){
	/* default colors
	body{
		background-color: var(--dark-background);
		color: var(--dark-text);
	}
	#navigation{
		box-shadow: 2px 2px 3px var(--dark-post-shadow);
	}
	.post{
		background-color: var(--dark-post-background);
		box-shadow: 2px 2px 3px var(--dark-post-shadow);
	}
	h2{
		color: var(--dark-section);
	}

	/* light-mode colors
	body.light-theme{
		background-color: var(--light-background);
		color: var(--light-text);
	}
	#navigation.light-theme{
		box-shadow: 2px 2px 3px var(--light-post-shadow);
	}
	.post.light-theme{
		background-color: var(--light-post-background);
		box-shadow: 2px 2px 3px var(--light-post-shadow);
	}
	h2.light-theme{
		color: var(--light-section);
	}
}*/



/* === spacing stuff === */

#navigation{
	background-color: #333;

	margin-bottom: 1em;

	text-align: center;

	display: flex;
	justify-content: space-between;
}

.nav-link{
	color: var(--dark-text);

	padding-left: .25em;
	padding-right: .25em;

	text-decoration: none;

	font-size: 1.5em;
}
.nav-link:hover{
	/*background-color: black;*/
	color: white;
}

.nav-left{
	height: 80px;
	width: 150px;
	min-width: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-center{
	/*width: 824px;*/

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.nav-right{
	width: 150px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper{
	max-width: 1024px;
	margin: auto;
}

#impressum{
	margin-top: 1em;

	text-align: right;
}

.post{
	margin-bottom: 1em;

	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 5em;

	text-align: justify;
	text-align-last: none;
}

p{
	margin-top: .5em;
	margin-bottom: .75em;
}


/* === font stuff === */

body{
	font-family: "Computer Modern";
}